html {
  box-sizing: border-box;
}

body {
  margin: 0;
	font-family: sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

header {
	display: flex;
	background-color: #1F2937;
	color: #F9FAF8;
	justify-content: space-between;
}

.header-logo {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	margin-left: 200px;
	font-size: 24px;
	font-weight: bold;
}

.navigation-menu {
	align-content: center;
	margin-right: 100px;
	font-size: 18px;
	color: #E5E7EB
}

.navigation-menu > ul {
	display: flex;
	column-gap: 20px;
}

.navigation-menu > ul {
	list-style-type: none;
}

.navigation-menu a {
	text-decoration-line: none;
	color: #F9FAF8;
}

.first-block{
	display: flex;
}

h1 {
	font-size: 48px;
	font-weight: bold;
	color: #F9FAF8;
}

.after-header {
	background-color: #1F2937;
	color: #F9FAF8;
	display: flex;
	padding-top: 80px;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 100px;
}

h1 {
	margin-bottom: 2px;
}

h1 + p {
	font-size: 18px;
	color: #E5E7EB;
	margin-top: 2px;
}

.after-header .left {
	margin-left: 200px;
	flex-basis: 35%;
}

.after-header .right {
	flex-basis: 500px;
	height: 220px;
	background-color:rgb(134, 132, 132);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 100px;
}

.first-block .button {
	background-color: #3882F6;
	width: 8em;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
}

.first-block .button a {
	color: #F9FAF8;
	font-weight: bold;
	font-size: 18px;
	text-decoration-line: none;
}

.second-block {
  padding-bottom: 100px;
}

.second-block > h2 {
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 50px;
}

.information-content {
  display: flex;
  column-gap: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.information-content .image {
  width: 150px;
  height: 150px;
  border: 3px solid rgb(0, 140, 255);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.information-content figcaption {
  text-align: center;
  color:rgb(51, 50, 50)
}

.third-block {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding-left: 200px;
  padding-right: 100px;
  padding-top: 80px;
  padding-bottom: 100px;
}

.third-block p:first-child {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.third-block p:last-child {
  font-size: 24px;
  font-weight: bold;
  margin-left: auto;
}

.fourth-block {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

.fourth-block > div {
  display: flex;
  column-gap: 100px;
  background-color: #3882F6;
  border-radius: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
}

.call-to-action p:first-child {
  color: #E5E7EB;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3px;
}

.call-to-action p:last-child {
  color: #E5E7EB;
  font-size: 18px;
  justify-content: center;
  margin-top: 3px;
}

.fourth-block .button {
	display: flex;
  height: 40px;
  width: 8em;
  margin-top: 35px;
	justify-content: center;
  align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
  border-style: solid;
  border-width: 2px;
	border-radius: 10px;
  border-color: #F9FAF8;
  
}

.fourth-block .button a {
	color: #F9FAF8;
	font-weight: bold;
	font-size: 18px;
	text-decoration-line: none;
}

.fifth-block {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
	color: #F9FAF8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fifth-block > p {
  font-size: 18px;
}

